/* Variables */
/* Color */
/* Body */
body {
  font-family: 'Montserrat', sans-serif;
}

body .btn-big {
  background-color: #fed136;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 50px;
}

body .section-title, body .services .services-text h2, .services .services-text body h2, body .portfolio h2, .portfolio body h2 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

body .section-subtitle, body .services .services-text p, .services .services-text body p, body .portfolio p, .portfolio body p {
  color: #777777;
  font-size: 16px;
  font-style: italic;
}

body .item-title, body .services .services-items .services-item h4, .services .services-items .services-item body h4, body .portfolio .portfolio-items .portfolio-item .portfolio-box h4, .portfolio .portfolio-items .portfolio-item .portfolio-box body h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

/* Header */
.header {
  background-image: url("../images/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header .header-overlay {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  /* Navbar */
  /* Header Content */
}

.header .header-overlay .navbar-transparent {
  background-color: transparent;
  padding-top: 30px;
  border: 0;
}

.header .header-overlay .navbar-transparent .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
  font-weight: 500;
}

.header .header-overlay .navbar-transparent .navbar-nav li a:hover {
  color: #fed136;
}

.header .header-overlay .navbar-transparent .navbar-nav .active a {
  background: none;
}

.header .header-overlay .header-content .header-text {
  margin-top: 300px;
}

.header .header-overlay .header-content .header-text h2 {
  color: #fff;
  font-size: 40px;
  font-family: 'Droid Serif', sans-serif;
  font-style: italic;
}

.header .header-overlay .header-content .header-text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 0;
}

.header .header-overlay .header-content .header-text a {
  margin-top: 50px;
}

/* Services */
.services {
  background-color: #fff;
  padding: 100px 0;
}

.services .services-items {
  margin: 70px 0;
}

.services .services-items .services-item .services-icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.services .services-items .services-item h4 {
  margin: 20px 0;
}

.services .services-items .services-item p {
  color: #777777;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
  padding: 100px 0;
}

.portfolio .portfolio-items {
  margin: 80px 0;
}

.portfolio .portfolio-items .portfolio-item .portfolio-image {
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-image img {
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box h4 {
  margin-top: 0;
  padding-top: 15px;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box p {
  color: #737373;
  font-family: 'Droid Serif', sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */