/* Variables */
/* Color */
/* Body */
body {
  font-family: 'Montserrat', sans-serif;
}

body .btn-big {
  background-color: #fed136;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 50px;
}

body .section-padding, body .services, body .portfolio, body .about-us, body .team {
  padding: 100px 0;
}

body .section-title, body .services .services-text h2, .services .services-text body h2, body .portfolio h2, .portfolio body h2, body .about-us .about-text h2, .about-us .about-text body h2, body .team .team-text h2, .team .team-text body h2 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

body .section-subtitle, body .services .services-text p, .services .services-text body p, body .portfolio p, .portfolio body p, body .about-us .about-text p, .about-us .about-text body p, body .team .team-text p, .team .team-text body p, body .contact .contact-text p, .contact .contact-text body p {
  color: #777777;
  font-size: 16px;
  font-style: italic;
}

body .item-title, body .services .services-items .services-item h4, .services .services-items .services-item body h4, body .portfolio .portfolio-items .portfolio-item .portfolio-box h4, .portfolio .portfolio-items .portfolio-item .portfolio-box body h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

body .paragraph, body .services .services-items .services-item p, .services .services-items .services-item body p, body .about-us .about-timeline .timeline-left p, .about-us .about-timeline .timeline-left body p, body .about-us .about-timeline .timeline-right p, .about-us .about-timeline .timeline-right body p {
  color: #777777;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* Header */
.header {
  background-image: url("../images/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header .header-overlay {
  background-color: #0000008f;
  width: 100%;
  height: 100%;
  /* Navbar */
  /* Header Content */
}

.header .header-overlay .navbar-transparent {
  background-color: transparent;
  padding-top: 30px;
  border: 0;
}

.header .header-overlay .navbar-transparent .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
  font-weight: 500;
}

.header .header-overlay .navbar-transparent .navbar-nav li a:hover {
  color: #fed136;
}

.header .header-overlay .navbar-transparent .navbar-nav .active a {
  background: none;
}

.header .header-overlay .header-content .header-text {
  margin-top: 300px;
}

.header .header-overlay .header-content .header-text h2 {
  color: #fff;
  font-size: 40px;
  font-family: 'Droid Serif', sans-serif;
  font-style: italic;
}

.header .header-overlay .header-content .header-text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 0;
}

.header .header-overlay .header-content .header-text a {
  margin-top: 50px;
}

/* Services */
.services {
  background-color: #fff;
}

.services .services-items {
  margin: 70px 0;
}

.services .services-items .services-item .services-icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.services .services-items .services-item h4 {
  margin: 20px 0;
}

.services .services-items .services-item p {
  text-align: center;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio .portfolio-items {
  margin: 80px 0;
}

.portfolio .portfolio-items .portfolio-item .portfolio-image {
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-image img {
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box {
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box h4 {
  margin-top: 0;
  padding-top: 15px;
}

.portfolio .portfolio-items .portfolio-item .portfolio-box p {
  color: #737373;
  font-family: 'Droid Serif', sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

/* About Us */
.about-us .about-timeline {
  padding: 70px 0;
}

.about-us .about-timeline .timeline-line {
  border-left: 2px solid #f1f1f1;
  height: 123%;
  width: 0;
  position: absolute;
  margin: 0 auto;
  left: 195px;
  right: 169px;
}

.about-us .about-timeline .timeline-left {
  text-align: right;
}

.about-us .about-timeline .timeline-left h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}

.about-us .about-timeline .timeline-right {
  text-align: left;
}

.about-us .about-timeline .timeline-right h4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
}

.about-us .about-timeline .timeline-image {
  text-align: center;
}

.about-us .about-timeline .timeline-image img {
  width: 169px;
}

.about-us .about-timeline .timeline-image .timeline-end {
  display: inline-block;
  width: 169px;
  height: 169px;
  background-color: #fed136;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
}

.about-us .about-timeline .timeline-image .timeline-end h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 25px 0;
}

.about-us .about-timeline .timeline-margin {
  margin-top: 100px;
}

/* Team */
.team {
  background-color: #f7f7f7;
}

.team .team-items {
  padding: 70px 0;
}

.team .team-items .team-item {
  text-align: center;
}

.team .team-items .team-item .team-image {
  display: inline-block;
  background-color: black;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.team .team-items .team-item h5 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.team .team-items .team-item p {
  color: #737373;
  font-family: 'Droid Serif', sans-serif;
  font-size: 14px;
  text-align: center;
}

.team .team-items .team-item .team-icon {
  width: 41px;
  height: 41px;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px 5px;
  margin: 5px;
}

.team .team-items .team-bottom p {
  padding-top: 50px;
  color: #777777;
}

/* Clients */
.clients {
  padding: 50px 0;
}

/* Contact */
.contact {
  background-color: #222222;
  /* Form */
}

.contact .contact-map {
  background-image: url("../images/contact-map.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 53%;
  width: 100%;
  height: 100%;
}

.contact .contact-text {
  padding: 70px 0;
  text-align: center;
}

.contact .contact-text h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact .form-group .form-control {
  padding: 25px;
  margin: 30px 0;
  font-weight: 700;
  color: #737373;
}

/* Footer */
.footer {
  padding: 40px;
}

.footer p {
  font-weight: 500;
}

.footer .footer-icons {
  text-align: center;
}

.footer .footer-icons .footer-icon {
  background-color: black;
  color: #fff;
  font-size: 20px;
  width: 41px;
  height: 41px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  /* About Us */
  .about-us .about-timeline .timeline-line {
    height: 150%;
  }
  .about-us .about-timeline .timeline-right p,
  .about-us .about-timeline .timeline-left p {
    font-size: 13px !important;
  }
  /* Team */
  .team .team-items .team-item {
    margin: 30px 0;
  }
  /* Client */
  .client-item {
    margin: 20px 0;
    text-align: center;
  }
  /* Footer */
  .footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
  /* Body */
  body .btn-big {
    font-size: 16px;
    padding: 20px 30px;
  }
  /* Header */
  .header .header-overlay .header-content .header-text {
    margin-top: 150px;
  }
  .header .header-overlay .header-content .header-text h1 {
    font-size: 42px;
  }
  .header .header-overlay .header-content .header-text h2 {
    font-size: 28px;
  }
  /* About Us */
  .timeline-line {
    display: none;
  }
  .about-us .about-timeline .timeline-image img {
    width: 99px;
  }
  /* Team */
  .team .team-items .team-item {
    margin: 30px 0;
  }
  /* Client */
  .client-item {
    margin: 20px 0;
    text-align: center;
  }
  /* Footer */
  .footer {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */