/* Variables */
/* Color */
$yellow: #fed136;
$white: #fff;
$dark: #222222;
$grey: #777777;
$greylight: #f7f7f7;
$greymedium: #737373;
$greyborder: #f1f1f1;

/* Body */
body {
    font-family: 'Montserrat', sans-serif;

    .btn-big {
        background-color: $yellow;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 20px 50px;
    }

    .section-padding {
        padding: 100px 0;
    }

    .section-title {
        color: $dark;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .section-subtitle {
        color: $grey;
        font-size: 16px;
        font-style: italic;
    }

    .item-title {
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    .paragraph {
        color: $grey;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}

/* Header */
.header {
    background-image: url('../images/background-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .header-overlay {
        background-color: #0000008f;
        width: 100%;
        height: 100%;

        /* Navbar */
        .navbar-transparent {
            background-color: transparent;
            padding-top: 30px;
            border: 0;

            .navbar-nav {
                li a {
                    color: $white;
                    text-transform: uppercase;
                    margin: 0 10px;
                    font-weight: 500;

                    &:hover {
                        color: $yellow;
                    }
                }

                .active a {
                    background: none;
                }
            }
        }

        /* Header Content */
        .header-content .header-text {
            margin-top: 300px;

            h2 {
                color: $white;
                font-size: 40px;
                font-family: 'Droid Serif', sans-serif;
                font-style: italic;
            }

            h1 {
                color: $white;
                font-size: 72px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 40px 0;
            }

            a {
                margin-top: 50px;
            }

        }
    }
}

/* Services */
.services {
    background-color: $white;
    @extend .section-padding;

    .services-text {
        h2 {
            @extend .section-title;
        }

        p {
            @extend .section-subtitle;
        }
    }

    .services-items {
        margin: 70px 0;

        .services-item {

            .services-icon {
                width: 70px;
                height: 70px;
                padding: 10px;
                margin: 0 auto;
                text-align: center;
                border: 3px solid $yellow;
                border-radius: 50%;
            }

            h4 {
                @extend .item-title;
                margin: 20px 0;
            }

            p {
                @extend .paragraph;
                text-align: center;
            }
        }
    }
}

/* Portfolio */
.portfolio {
    background-color: $greylight;
    @extend .section-padding;

    h2 {
        @extend .section-title;
    }

    p {
        @extend .section-subtitle;
    }

    .portfolio-items {
        margin: 80px 0;

        .portfolio-item {
            .portfolio-image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .portfolio-box {
                background-color: $white;
                height: 100px;
                width: 100%;

                h4 {
                    @extend .item-title;
                    margin-top: 0;
                    padding-top: 15px;
                }

                p {
                    color: $greymedium;
                    font-family: 'Droid Serif', sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    text-align: center;
                }
            }
        }
    }
}

/* About Us */
.about-us {
    @extend .section-padding;

    .about-text {
        h2 {
            @extend .section-title;
        }

        p {
            @extend .section-subtitle;
        }
    }

    .about-timeline {
        padding: 70px 0;

        .timeline-line {
            border-left: 2px solid #f1f1f1;
            height: 123%;
            width: 0;
            position: absolute;
            margin: 0 auto;
            left: 195px;
            right: 169px;
        }

        .timeline-left {
            text-align: right;

            h4 {
                color: $dark;
                font-size: 18px;
                font-weight: 700;
            }

            p {
                @extend .paragraph;
            }
        }

        .timeline-right {
            text-align: left;

            h4 {
                color: $dark;
                font-size: 18px;
                font-weight: 700;
            }

            p {
                @extend .paragraph;
            }
        }

        .timeline-image {
            text-align: center;

            img {
                width: 169px;
            }

            .timeline-end {
                display: inline-block;
                width: 169px;
                height: 169px;
                background-color: $yellow;
                border-radius: 50%;
                border: 7px solid $greyborder;

                h4 {
                    color: $white;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 25px 0;
                }
            }
        }

        .timeline-margin {
            margin-top: 100px;
        }
    }
}

/* Team */
.team {
    background-color: $greylight;
    @extend .section-padding;

    .team-text {
        h2 {
            @extend .section-title;
        }

        p {
            @extend .section-subtitle;
        }
    }

    .team-items {
        padding: 70px 0;

        .team-item {
            text-align: center;

            .team-image {
                display: inline-block;
                background-color: black;
                width: 220px;
                height: 220px;
                border-radius: 50%;
            }

            h5 {
                color: $dark;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                margin-top: 20px;
            }

            p {
                color: $greymedium;
                font-family: 'Droid Serif', sans-serif;
                font-size: 14px;
                text-align: center;
            }

            .team-icon {
                width: 41px;
                height: 41px;
                font-size: 20px;
                border: 3px solid black;
                border-radius: 50%;
                padding: 10px 5px;
                margin: 5px;
            }
        }
        .team-bottom p {
            padding-top: 50px;
            color: $grey;
        }
    }
}